<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MPP2Todoist.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MPP2Todoist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MPP2Todoist.UI.Properties.Settings>
            <setting name="MppFile" serializeAs="String">
                <value />
            </setting>
            <setting name="TodoistEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="TodoistPassword" serializeAs="String">
                <value />
            </setting>
        </MPP2Todoist.UI.Properties.Settings>
        <MPP2Todoist.Properties.Settings>
            <setting name="mpp_file" serializeAs="String">
                <value>C:\Users\sma\SharePoint\​CRM (SBCRM) - Webstedsaktiver\_CRM _SBCRM_-Arbejdspakker.mpp</value>
            </setting>
        </MPP2Todoist.Properties.Settings>
    </userSettings>
</configuration>